**/.DS_Store
**/.git
**/node_modules
**/npm-debug
**/build
**/local

**/venv
**/*.pyc
**/__pycache__/
**/instance/
**/.pytest_cache/
**/dist/
**/build/
**/*.egg-info/

**/.env
**/.dockerignore
**/docker-compose.yml